pkgbase = usql
	pkgdesc = A universal command-line interface for SQL databases
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/xo/usql
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	source = usql-0.18.0.tar.gz::https://github.com/xo/usql/archive/v0.18.0.tar.gz
	sha256sums = e61ac9e44b2b3dcc54ca9ac4a1dd8de754bcedfc361a4bea7632508d30f31119

pkgname = usql
