pkgbase = usql
	pkgdesc = A universal command-line interface for SQL databases
	pkgver = 0.18.1
	pkgrel = 1
	url = https://github.com/xo/usql
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	source = usql-0.18.1.tar.gz::https://github.com/xo/usql/archive/v0.18.1.tar.gz
	sha256sums = 692a3b30027b9a5bf8c814fbb051a7cf62f1b4895c397ae7bcc3a030cafd6f31

pkgname = usql
