pkgbase = ruby-xdg
	pkgdesc = Provides a Ruby implementation of the XDG Base Directory Specification
	pkgver = 8.5.0
	pkgrel = 1
	url = https://www.alchemists.io/projects/xdg
	arch = any
	license = Apache
	makedepends = ruby-rdoc
	depends = ruby>=3.1
	noextract = xdg-8.5.0.gem
	options = !emptydirs
	source = http://rubygems.org/downloads/xdg-8.5.0.gem
	sha256sums = 17b8cc9f3506ac2c45f5948f32c2d21534aa1672daaadf3ed78033d0b5ecaf47

pkgname = ruby-xdg
