pkgbase = ruby-xdg
	pkgdesc = Provides a Ruby implementation of the XDG Base Directory Specification
	pkgver = 8.3.0
	pkgrel = 1
	url = https://www.alchemists.io/projects/xdg
	arch = any
	license = Apache
	makedepends = ruby-rdoc
	depends = ruby>=3.1
	noextract = xdg-8.3.0.gem
	options = !emptydirs
	source = http://rubygems.org/downloads/xdg-8.3.0.gem
	sha256sums = 3fb62b313773ac231a58458e6d08bfeb1458ab843ce7bc8a7a7e12e28d6c0fbf

pkgname = ruby-xdg
