pkgbase = tdl
	pkgdesc = Telegram Downloader, but more than a downloader
	pkgver = 0.16.2
	pkgrel = 1
	url = https://docs.iyear.me/tdl
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = go
	makedepends = git
	depends = glibc
	source = tdl-0.16.2.tar.gz::https://github.com/iyear/tdl/archive/v0.16.2.tar.gz
	sha256sums = aaae011e6c2f453a9d53b08de87dad04caeb90b0a8e9bf3c07abf1d2eb84a33f

pkgname = tdl
