pkgbase = lux-dl
	pkgdesc = Fast and simple video download library and CLI tool written in Go
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/iawia002/lux
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = go
	depends = ffmpeg
	conflicts = annie
	replaces = annie
	source = lux-dl-0.18.0.tar.gz::https://github.com/iawia002/lux/archive/v0.18.0.tar.gz
	sha256sums = e25f2f8f446948902129f23b75a66309628c51aace1589757bc9a3cf42734c8d

pkgname = lux-dl
