pkgbase = scriptisto
	pkgdesc = A language-agnostic "shebang interpreter" that enables you to write scripts in compiled languages
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/igor-petruk/scriptisto
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = cargo
	depends = gcc-libs
	source = scriptisto-2.2.0.tar.gz::https://github.com/igor-petruk/scriptisto/archive/v2.2.0.tar.gz
	sha256sums = 192d20885b563eeaf66766695314ab3e2711dc10c44f938aeeee6271e9720397

pkgname = scriptisto
