pkgbase = python-cachew
	pkgdesc = Transparent and persistent cache/serialization powered by type hints
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/karlicoss/cachew
	arch = any
	license = MIT
	makedepends = python-setuptools-scm
	depends = python-appdirs
	depends = python-sqlalchemy
	source = https://files.pythonhosted.org/packages/source/c/cachew/cachew-0.10.0.tar.gz
	sha256sums = 70a9a46e00c7d45bbbef3ef19167ffdcc3fb1f4914b60383207b5c7684519e58

pkgname = python-cachew
